{% extends 'base.html' %}

{% block main %}
    <h2>Contact Form</h2>
<br>
    <p>Fill in this form to contact the site owners.</p>
    <form method="post" action="{{ url_for('contact') }}">
        {% include 'flash_messages.html' %}
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name.label }}<br>  <span>Please enter your full name</span>{{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }} <br> <span>Please enter your e-mail address</span> {{ form.email(class="form-control", placeholder="jdoe@example.com") }}
        </div>
        <div class="form-group">
            {{ form.subject.label }} <br> <span>Please enter the subject for your message</span>  {{ form.subject(class="form-control")}}
        </div>
        <div class="form-group">
            {{ form.textArea.label }} <br> <span>Please enter the message you would like to send</span>{{ form.textArea(class="form-control") }}
        </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
{% endblock %}
